[tool.poetry]
name = "Konfik"
version = "0.1.3"
description = ""
authors = ["rednafi <redowan.nafi@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.6"
rich = "^8.0.0"
toml = "^0.10.1"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
tox = "^3.20.0"
black = "^20.8b1"
coverage = "^5.3"
isort = "^5.5.4"

[tool.poetry.scripts]
konfik = 'konfik.main:deploy_cli'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
